@page
@model Esport.Pages.Shared.Equipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipe.Nom)
        </dd>
    </dl>
    <h3>Les membres de l'équipes</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nom
                </th>
                <th>
                    Prénom
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Equipe.CompoEquipe)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.licencie.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.licencie.Prenom)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Equipe.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
